@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&family=Poppins:wght@400;500;700&display=swap");

html {
  @apply font-poppins;
}

.App {
  font-family: "Poppins", "Noto Sans", "Noto Sans KR", sans-serif;
}

.reverse {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
